footer.footer
  nav.menu
    a(href="about.html" class="menu__link is-active") About page
    a(href="about.html" class="menu__link") News
    a(href="about.html" class="menu__link is-disable") Contacts