doctype html
html
head
meta(charset = 'utf-8')
meta(name='viewport', content="initial-scale=1.0, width=device-width")
title Landing page
body
header.header
  a(href="about.html" class="header__logo")
    img(src="./assets/images/icon/favicon.svg")
  nav.menu
    a(href="about.html" class="menu__link is-active") About page
    a(href="about.html" class="menu__link") News
    a(href="about.html" class="menu__link is-disable") Contacts