
// base project colors
$color-white: #fff;
$color-active:#078cd6;
$color-dark: #000;

// font props
$font-family: "Roboto", sans-serif;

// base elements colors
$bg-color-white: $color-white;
$bg-color-dark: lighten($color-dark, 10%);

// screen size 
$xxl: 1320px;
$xl: 1140px;
$lg: 960px;
$md: 720px;
$sm: 540px;

// media
$media-xxl: 1400px;
$media-xl: 1200px;
$media-lg: 992px;
$media-md: 768px;
$media-sm: 576px;

@import './mixins.scss'