.nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.nav-link {
   margin: 0 10px;
   &.is-active {
      text-decoration: underline;
   }
   &.is-disable {
      color: darken($color-active, 15%); 
   }
}