@mixin container() {
   max-width: $xxl;
   margin: 0 auto;
   padding: 0 $gap;
   height: 100%;
}

// media requests
@mixin media-min($screen) {
   @media screen and (min-width: $screen) {
      @content;
   }
}
@mixin media-max($screen) {
   @media screen and (max-width: $screen - 1px) {
      @content;
   }
}