
// base project colors
$color-white: #fff;
$color-active:#d68e4b;
$color-dark: #00192e;

// base elements colors
$color-bg: lighten($color-dark, 10%);
$color-bg-inverse: #fff;

// if need add more colors, for example below:
// $color-text: $color-dark;
// $color-text-inverse: #fff;
// $color-header: $color-dark;
// $color-header-inverse: #fff;
// $color-link: $color-dark;
// $color-link-inverse: #fff;
// $color-btn: $color-dark;
// $color-btn-inverse: #fff;

// padding
$gap: 15px;

// font props
$font-family: "Roboto", sans-serif;

// screen size 
$xxl: 1320px;
$xl: 1140px;
$lg: 960px;
$md: 720px;
$sm: 540px;

// media
$media-xxl: 1400px;
$media-xl: 1200px;
$media-lg: 992px;
$media-md: 768px;
$media-sm: 576px;