doctype html
html
head
meta(charset = 'utf-8')
meta(name='viewport', content="initial-scale=1.0, width=device-width")
title Webpack app
body
include ../header/header.pug
h1 homepage

a(href="about.html") About page
img(src="./assets/images/any/any-cite.svg")